<div class="fake-store-order-confirmed fake-store-main-component-container">
  <p-toolbar>
    <ng-template #start>
      <app-logo />
    </ng-template>
  </p-toolbar>
  <p-card>
    <ng-template #content>
      <div class="fake-store-order-confirmed__content">
        @if (isOrderMaking()) {
          <h1 style="padding-bottom: 40px">We are making your order...</h1>
          <app-truck />
        } @else {
          <i class="pi pi-gift"></i>
          <h1>Congratulations for your order</h1>
          <h3>
            Should you need anything else buy it
            <p-button label="here!" [link]="true" routerLink="shop" />
          </h3>
        }
      </div>
    </ng-template>
  </p-card>
</div>
