:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.fake-store-product-details {
  padding: 20px;
  flex: 1 1 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__top {
    display: flex;
    align-items: flex-start;
    gap: 15px;

    app-product-image {
      width: clamp(450px, 450px, 450px);
      display: block;
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

  }

  &__bottom {
    display: flex;
    flex-direction: column;
  }
}