:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.fake-store-product-details {
  padding: 20px;
  flex: 1 1 auto;
  display: grid;
  grid-template-areas: "image info";
  grid-template-columns: 450px 1fr;
  column-gap: 40px;

  &__image {
    grid-area: image;
  }

  &__info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}