<div class="fake-store-header">
  <p-toolbar>
    <ng-template #start>
      <div class="fake-store-header__start">
        <app-logo />
      </div>
    </ng-template>
    <ng-template #end>
      <div class="fake-store-header__end">
        <p-button
          icon="pi pi-search"
          [rounded]="true"
          severity="secondary"
          (onClick)="showDialogSearchProducts()"
        />
        <p-button
          icon="pi pi-bars"
          [rounded]="true"
          severity="secondary"
          (onClick)="drawer.toggleVisible(!drawer.visible())"
        />
      </div>
    </ng-template>
  </p-toolbar>
</div>

<app-drawer #drawer />
