.fake-store-header {
  padding: 10px;

  &__start,
  &__end {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

@media (width <= 550px) {
  .fake-store-header {
    padding: 10px;
  }
}
