<div class="fake-store-header">
  @let isBackToListProductVisible = routerEvents()?.url.includes('details') ||
  routerEvents()?.url.includes('cart');
  <p-toolbar>
    <ng-template #start>
      <div class="fake-store-header__back-button">
        @if(isBackToListProductVisible) {
        <p-button
          label="List product"
          [rounded]="true"
          severity="secondary"
          icon="pi pi-angle-left"
          (onClick)="backToProductList()"
        />
        }
      </div>
    </ng-template>
    <ng-template #center>
      <p-autocomplete
        [formControl]="autocompleteFormControl"
        [suggestions]="filteredProductList"
        optionLabel="title"
        field="title"
        placeholder="Search product"
        panelStyleClass="fake-store-header__autocomplete"
        (completeMethod)="completeMethod($event)"
      >
        <ng-template let-product #item>
          <div class="fake-store-header__autocomplete-product">
            <app-product-image
              [urlImageProduct]="product.image"
              [sizeImageProduct]="30"
              borderRadiusImageProduct="100%"
            ></app-product-image>
            <span
              class="ellipsis"
              [pTooltip]="product.title"
              [showDelay]="500"
              tooltipPosition="bottom"
            >
              {{ product.title }}
            </span>
          </div>
        </ng-template>
      </p-autocomplete>
    </ng-template>
    <ng-template #end>
      <p-button
        icon="pi pi-bars"
        [rounded]="true"
        severity="secondary"
        (onClick)="drawer.toggleVisible(!drawer.visible())"
      />
    </ng-template>
  </p-toolbar>
</div>

<app-drawer #drawer />
