<div class="fake-store-products">
  <div class="fake-store-products__list">
    @if (productsList.isLoading()) {
      @for (placeholder of productListPlaceholder; track $index) {
        <p-skeleton width="100%" height="400px" />
      }
    } @else {
      @for (product of productsList.value(); track product.id) {
        <p-card>
          <ng-template #header>
            <div
              style="background: url({{product.image}}) center / contain no-repeat; background-color: #fff; height: 200px;">
            </div>
          </ng-template>
          <ng-template #title> {{product.title}} </ng-template>
          <ng-template #subtitle> {{product.description}} </ng-template>
          <ng-template #footer>
            <p-button icon="pi pi-cart-plus" label="Add to cart"></p-button>
          </ng-template>
        </p-card>
      }
    }
  </div>
</div>