.host-fake-store-cart {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.fake-store-cart {
  overflow: auto;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-row {
      display: flex;
      flex-direction: column;
      align-items: attr(alignItems);
      gap: 5px;
      p-button,
      .p-button {
        width: 100%;
      }
    }
  }

  &__list {
    flex: 1 1 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &:empty {
      flex: unset;
    }
    &:not(:empty) {
      padding: 10px;
    }
  }

  &__product {
    display: grid;
    grid-template-areas:
      "image description quantity"
      "image description trash";
    grid-template-columns: 100px auto auto;
    align-items: start;
    gap: 10px;

    app-product-image {
      grid-area: image;
    }

    &-description {
      grid-area: description;
      display: flex;
      flex-direction: column;
    }

    &-quantity {
      grid-area: quantity;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 5px;
    }

    &-trash {
      grid-area: trash;
      display: flex;
      justify-content: flex-end;
    }
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__popover {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    &-actions {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: space-evenly;
    }
  }
}

@media (width <= 550px) {
  .fake-store-cart {
    &__product {
      grid-template-areas:
        "image description"
        "quantity trash";
      grid-template-columns: 100px auto;
      &-quantity {
        grid-area: quantity;
        justify-content: unset;
      }
    }
  }
}
