<app-header />

<div class="fake-store-cart">
  <p-card>
    <ng-template #title>
      <div class="fake-store-cart__header">
        <div class="fake-store-cart__header-row" alignItems="flex-start">
          <h2>Cart</h2>
          <small>
            {{ cartListCount() > 0 ? `(${cartListCount()} Articles)` : '' }}
          </small>
        </div>
        @if (cartTotalToSpend() > 0) {
          <div class="fake-store-cart__header-row" alignItems="flex-end">
            <h2>Total {{ cartTotalToSpend() | currency }}</h2>
            <p-button
              label="Go to checkout"
              icon="pi pi-money-bill"
              iconPos="right"
              routerLink="/checkout"
            />
          </div>
        } @else {
          <p-button
            [link]="true"
            label="Go to shopping!"
            routerLink="/products"
          />
        }
      </div>
    </ng-template>
    <p-dataview [value]="cartList()" emptyMessage="Cart is empty">
      <ng-template #list let-items>
        <div class="fake-store-cart__list">
          @for (cartItem of items; track cartItem.id; let last = $last) {
            <div class="fake-store-cart__product">
              <app-product-image
                [urlImageProduct]="cartItem.image"
                [sizeImageProduct]="100"
              ></app-product-image>
              <div class="fake-store-cart__product-info">
                <div class="fake-store-cart__product-row1">
                  <div style="display: flex; flex-direction: column">
                    <h3>{{ cartItem.title }}</h3>
                    <small>{{ cartItem.category }}</small>
                  </div>
                  <div style="display: flex; align-items: center; gap: 5px">
                    <h3>{{ cartItem.price | currency }}</h3>
                    <p-button
                      icon="pi pi-times"
                      [badge]="cartItem.count"
                      size="small"
                      severity="secondary"
                      [rounded]="true"
                      variant="text"
                      (onClick)="showPopoverItemCartCount($event, cartItem.id)"
                    />
                  </div>
                </div>
                <div class="fake-store-cart__product-row2">
                  <p-button
                    icon="pi pi-trash"
                    (onClick)="removeProductFromCart($event, cartItem)"
                    severity="danger"
                  />
                </div>
              </div>
            </div>
            @if (!last) {
              <p-divider />
            }
          }
        </div>
      </ng-template>
    </p-dataview>
  </p-card>

  <p-popover #popoverCartItem (onHide)="idCartItemPopover.set(-1)">
    @if (cartItemPopover.value()) {
      <div class="fake-store-cart__popover">
        <div class="fake-store-cart__popover-header">
          <h3>Product quantity</h3>
        </div>
        <div class="fake-store-cart__popover-actions">
          <p-button
            [icon]="
              cartItemPopover.value().count === 1
                ? 'pi pi-trash'
                : 'pi pi-minus'
            "
            severity="danger"
            [rounded]="true"
            [severity]="
              cartItemPopover.value().count === 1 ? 'danger' : 'secondary'
            "
            (onClick)="
              cartItemPopover.value().count === 1
                ? removeProductFromCart($event, cartItemPopover.value())
                : decrementProductCount(cartItemPopover.value())
            "
          />
          {{ cartItemPopover.value().count }}
          <p-button
            icon="pi pi-plus"
            severity="danger"
            [rounded]="true"
            severity="secondary"
            (onClick)="incrementProductCount(cartItemPopover.value())"
          />
        </div>
      </div>
    }
  </p-popover>
</div>
