<div class="fake-store-cart">
  <p-card>
    <ng-template #title>
      <div class="fake-store-cart__header">
        <h2>
          Cart
          {{ cartListCount() > 0 ? `(${cartListCount()} Articles)` : '' }}
        </h2>
        @if (cartTotalToSpend() > 0) {
          <h2>Total {{ cartTotalToSpend() | currency }}</h2>
        } @else {
          <p-button
            [link]="true"
            label="Go to shopping!"
            routerLink="/products"
          />
        }
      </div>
    </ng-template>
    <p-dataview [value]="cartList()" emptyMessage="Cart is empty">
      <ng-template #list let-items>
        <div class="fake-store-cart__list">
          @for (cartItem of items; track cartItem.id; let last = $last) {
            <div class="fake-store-cart__product">
              <app-product-image
                [urlImageProduct]="cartItem.image"
                [sizeImageProduct]="100"
              ></app-product-image>
              <div class="fake-store-cart__product-info">
                <div class="fake-store-cart__product-row1">
                  <div style="display: flex; flex-direction: column">
                    <h3>{{ cartItem.title }}</h3>
                    <small>{{ cartItem.category }}</small>
                  </div>
                  <div style="display: flex; align-items: center; gap: 5px">
                    <h3>{{ cartItem.price | currency }}</h3>
                    @if (cartItem.count > 1) {
                      <p-button
                        icon="pi pi-times"
                        [badge]="cartItem.count"
                        size="small"
                        severity="secondary"
                        [rounded]="true"
                        variant="text"
                      />
                    }
                  </div>
                </div>
                <div class="fake-store-cart__product-row2">
                  <p-button
                    icon="pi pi-trash"
                    (click)="removeProductFromCart($event, cartItem)"
                    severity="danger"
                  />
                </div>
              </div>
            </div>
            @if (!last) {
              <p-divider />
            }
          }
        </div>
      </ng-template>
      <ng-template #empty>
        <div class="fake-store-cart__empty">
          <h3>Cart is empty</h3>
          <p-button
            [link]="true"
            label="Go to shopping!"
            routerLink="/products"
          />
        </div>
      </ng-template>
    </p-dataview>
  </p-card>
</div>
