:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.fake-store-cart {
  flex: 1 1 10px;
  overflow: auto;
  padding: 20px;
  display: flex;

  p-dataview {
    width: 100%;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  &__product {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    gap: 10px;
  }
}