<div class="fake-store-product-details fake-store-main-component-container">
  @let productDetailsValue = productDetails.value();

  <div class="fake-store-product-details__top">
    @if (productDetails.isLoading()) {
      <p-skeleton width="360px" height="500px" />
      <div
        class="fake-store-product-details__top-info"
        style="gap: 20px; flex: 1 1 auto"
      >
        <p-skeleton width="100%" height="40px" />
        <p-skeleton width="100%" height="40px" />
      </div>
    } @else {
      <app-product-image
        [urlImageProduct]="productDetailsValue.image"
        [sizeImageProduct]="500"
      ></app-product-image>
      <div class="fake-store-product-details__top-info">
        <p-rating
          class="product-rating"
          [ngModel]="productDetailsValue.rating.rate"
          [readonly]="true"
        />
        <h1 class="product-title">{{ productDetailsValue.title }}</h1>
        <small class="product-category">
          {{ productDetailsValue.category }}
        </small>
        <h1 class="product-price">
          {{ productDetailsValue.price | currency }}
        </h1>
        <p-button
          label="Add to cart"
          [rounded]="true"
          [raised]="true"
          icon="pi pi-cart-plus"
          (onClick)="addProductToCart(productDetailsValue)"
        />
      </div>
    }
  </div>
  <div class="fake-store-product-details__bottom">
    <p-fieldset legend="Description">
      @if (productDetails.isLoading()) {
        <p-skeleton width="100%" height="100px" />
      }
      <h3>{{ productDetailsValue.description }}</h3>
    </p-fieldset>
  </div>
</div>
