p-card,
.p-card {
  width: 100%;
  height: 100%;

  .p-card-body,
  .p-card-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
}

p-dataview,
.p-dataview-content,
.p-dataview-list,
p-dataview-emptymessage {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  div:has(.p-dataview-emptymessage) {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
}

.p-dataview-emptymessage {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

p-tree {
  .p-tree-node-icon {
    margin-right: 10px;
  }
  .p-tree-node-label {
    width: 100%;
  }
}

@media (width <= 550px) {
  .p-dialog {
    max-height: unset !important;
    width: 100dvw !important;
    height: 100dvh !important;
    border-radius: unset !important;
  }
}
