.host-fake-store-products {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.fake-store-products {
  padding: 20px;
  flex: 1 1 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;

  app-products-breadcrumb {
    margin-bottom: 20px;
  }

  &__placeholder {
    display: grid;
    gap: 10px;

    p-skeleton {
      height: 45px;
      width: 100%;
    }
  }

  &__list {
    width: 100%;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

    .fake-store-card {
      border-radius: var(--fake-store-border-radius-md);

      &:hover {
        box-shadow: 0 0 10px 0 var(--fake-store-stone-400);
        scale: 1.05;
        transition: all 0.3s;
        cursor: pointer;
      }

      .p-card {
        height: 100%;
      }

      &__header {
        border-top-right-radius: var(--fake-store-border-radius-md);
        border-top-left-radius: var(--fake-store-border-radius-md);
      }

      &__footer {
        text-align: end;
        margin: 0;
        padding: 0;
      }
    }
  }
}
