.host-fake-store-login {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.fake-store-login {
  .p-card-content {
    align-items: center;
    justify-content: center;
    background: url("/fake-store-background-login.svg") no-repeat center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    box-shadow: var(--fake-store-text-color) 0px 1px 4px;
    border-radius: var(--fake-store-card-border-radius);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    input,
    button {
      width: 100%;
    }
    &-signup {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    p-button,
    button {
      width: 100%;
    }
  }
}

@media (width <= 550px) {
  .fake-store-login {
    padding: 0;
    &__content {
      padding: 0;
      box-shadow: none;
    }
  }
}
