<div class="fake-store-login fake-store-main-component-container">
  <p-card>
    <ng-template #content>
      <div class="fake-store-login__content">
        <div class="fake-store-login__avatar">
          <app-avatar icon="pi pi-user" size="xlarge" />
        </div>
        @if (false) {
          <div class="fake-store-login__form" [formGroup]="formLogin">
            <p-iftalabel>
              <input
                pInputText
                id="username"
                pSize="large"
                formControlName="username"
              />
              <label for="username">Username</label>
            </p-iftalabel>
            <p-iftalabel>
              <p-password
                id="password"
                size="large"
                formControlName="password"
                [toggleMask]="true"
                [feedback]="false"
              />
              <label for="password">Password</label>
            </p-iftalabel>
            <div class="fake-store-login__form-signup">
              <p-button
                label="Sign up"
                variant="text"
                severity="secondary"
                routerLink="/sign-up"
              />
            </div>
          </div>
        }
        <div class="fake-store-login__actions">
          @if(false) {
            <p-button label="Login" severity="info" (onClick)="userLogin()" />
          }
          <p-button
            label="Login as guest"
            severity="primary"
            (onClick)="guestLogin()"
          />
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
