<p-drawer
  position="right"
  styleClass="fake-store-drawer"
  [visible]="visible()"
  (visibleChange)="toggleVisible($event)"
>
  <ng-template #header>
    <app-logo />
  </ng-template>

  <p-tree
    [value]="treeNodes()"
    selectionMode="single"
    [selection]="activeNode()"
    (selectionChange)="activeNode.set($any($event))"
  >
    <ng-template let-node pTemplate="url">
      <div class="fake-store-drawer__url">
        {{ node.label }}
        @if (node.data?.badge) {
          <p-badge
            [value]="node.data?.badge"
            severity="info"
            badgeSize="large"
          />
        }
      </div>
    </ng-template>
  </p-tree>

  <ng-template #footer>
    @if (user()) {
      <div class="fake-store-drawer__footer">
        <p-button
          [label]="user().username"
          icon="pi pi-user"
          variant="outlined"
          routerLink="/account"
        />
        <p-button
          label="Logout"
          icon="pi pi-sign-out"
          severity="danger"
          variant="outlined"
          (onClick)="logout($event)"
        />
      </div>
    }
  </ng-template>
</p-drawer>
