.fake-store-drawer {
  width: 350px !important;
  &__url {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__footer {
    display: flex;
    gap: 10px;
    p-button,
    button {
      width: 100%;
    }
  }
}
