<p-drawer
  position="right"
  styleClass="fake-store-drawer"
  [visible]="visible()"
  (visibleChange)="toggleVisible($event)"
>
  <ng-template #header>
    <app-logo />
  </ng-template>

  <p-tree [value]="treeNodes()">
    <ng-template let-node pTemplate="default">
      {{ node.label }}
    </ng-template>
    <ng-template let-node pTemplate="url">
      <a
        class="p-button p-button-secondary p-button-text p-component"
        [routerLink]="node.data.url"
        [queryParams]="node.data?.queryParams"
        (click)="toggleVisible(false)"
      >
        {{ node.label }}
      </a>
    </ng-template>
  </p-tree>

  <ng-template #footer>
    <div class="fake-store-drawer__footer">
      <p-button label="Account" icon="pi pi-user" variant="outlined" />
      <p-button
        label="Logout"
        icon="pi pi-sign-out"
        severity="danger"
        variant="outlined"
        (onClick)="logout()"
      />
    </div>
  </ng-template>
</p-drawer>
