<p-drawer
  position="right"
  styleClass="fake-store-drawer"
  [visible]="visible()"
  (visibleChange)="toggleVisible($event)"
>
  <ng-template #header>
    <div class="fake-store-header__logo">
      <img src="fake-store-icon.svg" alt="fake-store-logo" />
      <h2>Fake store</h2>
    </div>
  </ng-template>

  <p-tree [value]="treeNodes()">
    <ng-template let-node pTemplate="default">
      {{ node.label }}
    </ng-template>
    <ng-template let-node pTemplate="url">
      <a
        class="p-button p-component p-button-link"
        [routerLink]="node.data.url"
        [queryParams]="node.data?.queryParams"
        (click)="toggleVisible(false)"
      >
        {{ node.label }}
      </a>
    </ng-template>
  </p-tree>
</p-drawer>
