<app-header />
<div class="fake-store-account fake-store-main-component-container">
  @if (account()) {
    <p-card>
      <ng-template #header>
        <div class="fake-store-account__header">
          <div>
            <h2>My account</h2>
            <small>{{ `@${account().username}` }}</small>
          </div>
          @if (!isUserGuest()) {
            <p-button
              [rounded]="true"
              icon="pi pi-user-edit"
              severity="info"
              pTooltip="Edit account"
              tooltipPosition="left"
              (onClick)="openDialogEditAccount()"
            />
          }
        </div>
      </ng-template>
      <ng-template #content>
        <div class="fake-store-account__content">
          <div class="fake-store-account__avatar">
            <app-avatar
              size="xlarge"
              [image]="linkRoboHash()"
              [sizeNumber]="150"
            />
          </div>
          <div class="fake-store-account__info">
            <h2 class="fake-store-account__info-name">
              {{ `${account().name.firstname} ${account().name.lastname}` }}
            </h2>
            <h3 class="fake-store-account__info-email">
              {{ account().email }}
            </h3>
            <h3 class="fake-store-account__info-iduser">
              {{`Fake store ID: ${account().id}`}}
            </h3>
          </div>
        </div>
      </ng-template>
    </p-card>
  }
</div>
